@import url("'https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lateef&family=Outfit:wght@300&display=swap'");

h1 {
    font-family: 'Lateef';
    font-size: 35px;
    text-align: center;
}

.contenido {
    overflow: hidden;
    width: 88.8%;
    position: absolute;
    top: 12%;
    left: 10.5%;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    line-height: 1.25;
    align-items: justify;
}

