@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Outfit:wght@300&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
}

.navbar {
  width:100%; /* Establecemos que el navbar abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
  position: fixed; 
  top: 0;
  background-color: #F5F3EF;
  font-size: 14px;
}

/*
.wrapper {
	width:98%; /* Establecemos que el ancho sera del 90% 
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px 
	margin:auto; /* Centramos los elementos 
	overflow:hidden; /* Eliminamos errores de float 
}*/

.logo {
  float: left;
  margin-left: 18px;
}

.reservacion{
  float: right;
}

.navbar label {
  margin-left:18px;
}

.navbar input {
  margin-right:18px;
}

/*Estilos Generales*/
.btn {
  line-height: normal;
  text-decoration: none;
  text-align: center;
	display: inline-block;
  font-weight: bold;
  color:#fff;
  background: #7ed957;
	box-shadow:0px 3px 0px #429900;
  padding: 5px; 
  margin:18px;
	width:100px;
	border-radius:20px;
  transition:all 500ms ease;
}

.btn:hover {
	background: #029876;
	border-radius:50px;
}

.menu {
  float: left;
  width: 9%;
  height: 100%;
  background-color: #4faae0;
  position: fixed;
  top: 12%;
  text-align: center;
  vertical-align: middle;
}

.menuBtn {
  width: 100%;
  height: 70px;
  background: none;
  border: none;
  border-bottom: 2px solid #F5F3EF;
  box-shadow: none;
  color: #F5F3EF;
  transition: color .15s ease-in-out
    background-color .15s ease-in-out;
  font-family: 'EB Garamond', serif;
}

.menuBtn:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 6px rgb(0, 0, 0);
  transition: all 0.2s ease;
}

.contenido {
  float: right;
  width: 90%;
}

.portada {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.fondo {
  width: 100%;
  height: auto;
}
/*
.mask {
  padding: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  align-items: center;
  text-align: center;
  width: auto;
  height: auto;
}*/

.bienvenido {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 25%;
  color:rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.descripcion {
  padding-bottom: 40px;
}

.nosotros {
  padding-bottom: 40px;
}

footer {
  clear: both;
  width: 100%;
  background-color: #029876;
  font-size: 14px;
}

.retícula {
  color: white;
  /*font-size: 16px;*/
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.icon {
  margin-left: 18px;
  margin-right: 18px;
  filter: invert(1);
}

.copyright {
  color: white;
  text-align: center;
  padding: 10px;
}
